
<h1>coucou</h1>

<form class= "col-lg-4 m-4" action="/cuisiniersSession/save" method="POST">
    <h1>S'inscrire</h1>
        <div class="form-group">
            <label for="cuisiniername">Nom:</label>
            <input type="text" class="form-control" name="cuisiniername">
        </div>
        <div class="form-group">
            <label for="cuisiniersurname">Prenom:</label>
            <input type="text" class="form-control" name="cuisiniersurname">
        </div>
        <div class="form-group">
            <label for="cuisinieremail">e-mail:</label>
            <input type="text" class="form-control" name="cuisinieremail">
        </div>
        <div class="form-group">
            <label for="cuisinierspecial">spécialité:</label>
            <input type="text" class="form-control" name="cuisinierspecial">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label for="passwordConf">Confirm password:</label>
            <input type="password" class="form-control" name="passwordConfirmation">
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form> 
