body {
  font-family: Verdana, sans-serif;
  font-size: 17px;
  color: #444;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

h4 {
  font-size: 20px;
}
.orange {
  color: #f3671f;
}

.pink {
  color: #d05c62;
}

.bg_pink {
  background: #d05c62;
}
.bg_orange {
  background: #f3671f;
}

/*=============================
      HEADER
==============================*/
.logo {
  width: 80px;
  height: 80px;
}

.navbar-brand {
  font-family: 'Chela One', cursive;
}

.nav-link {
  font-size: 15px;
}

header {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(191,187,191,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(191,187,191,1);
  box-shadow: 0px 3px 5px 0px rgba(191,187,191,1);
}

.carousel-inner .carousel-item {
  height: 400px;
}
.bg_img{
  
   /* background:linear-gradient(
    rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.7)
    ),url(/img/img-1.jpg);*/
    background: url(/img/atelier.jpg);
    background-size: cover;
    background-position: center center;
}
.bg_opacity {
  background: rgba(255, 255, 255, 0.7);
}
/*.img_slide {
  width: 200px;
  height: 200px;
}*/
.title_slide {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
}

.padding_perso {
  padding-top: 100px;
}
/*================================
        Les boutons personnalisés
=================================*/
.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(208, 92, 98,.5);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #fff;
  color: #f3671f;
  border: 2px solid #f3671f!important;
}

.btn_pink {
  background: #d05c62;
}

.btn_pink:hover {
  background: #f3671f;
}


.title_page {
  font-family: 'Roboto', sans-serif;
}

.img_title {
  width: 65px;
  height: 65px;
  float: left;
  position: relative;
  bottom: 8px;
}

.icon_title {
  color: #f3671f;
  border: 4px solid #d05c62;
  padding: 10px;
}

.img_ateliers {
  width: 100%;
  height: 150px
}

.link_atelier {
  color: #444;
}

/*=========================
  Animation du site
============================*/  

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/*============================
      PAGE ATELIER
=============================*/

/* atelier individuel */
.bg_page {
  background: #eee;
}

/* page liste atelier */
.btn_orange {
  background: #f3671f;
  width: 150px;
}

.btn_orange:hover {
  background: #d05c62;
}


/*=========================
      Responsive
==========================*/

@media screen and (max-width: 640px) {
  body {
    font-size: 14px;
  }
  h3 {
    font-size: 23px;
  }
  .title_page {
    font-size: 28px;
  }
  .formulaire {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
  }
}