<form action="/ateliers/save" method="POST">
    Titre
    <br>
    <input type="text" name="titre" >
    <br> Description
    <br>
    <input type="text" name="description" >
    <br> Date
    <br>
    <input type="date" name="lastname" >
    <br> Horaire
    <br>
    <input type="text" name="horaire" >
    <br> Duree
    <br>
    <input type="number" name="duree" >
    <br> Place disponible
    <br>
    <input type="number" name="place_disponible" >
    <br> Place_reserve
    <br>
    <input type="number" name="place_reserve" >
    <br> Prix
    <br>
    <input type="number" name="prix" >
    <br> Image
    <br>
    <input type="text" name="image" >
    <input type="submit" value="Submit">
</form>